$default-font-size: 1.6rem;
$primary-font-size: 2rem;
$secondary-font-size: 1.5rem;
$tertiary-font-size: 1rem;

$default-form-padding: 0.3rem;

$color-primary: #3f51b5;
$color-grey: rgb(145, 145, 145);
$color-black: rgb(0, 0, 0);
